/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono", monospace;
  --page-padding: 10px;
  --main-margin-block: 40px;
  --main-gap: 50px;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --bigest-title-color: #db00ff;
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --menu-color: rgb(255, 0, 112);
  --menu-hover-color: rgb(255, 0, 112, 0.4);
  --decorated-zone-color: #ff0070;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
}
